body {
    font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Lora', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}
.hero-image {
  background-image: linear-gradient(rgba(27 3 3 / 82%), rgba(17 9 9 / 82%)), url("../images/img2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
    line-height: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #0494a8;
  color: white;
}
h6 {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
 /* font-family: 'Source Code Pro', monospace;  */
/* font-size: 15px;*/
  color: hsl(233, 4%, 68%,1);
}

/* Animation */
h6{
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}
@keyframes animated-text{
  from{width: 0;}
  to{width:290px;}
}
nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
    height: 70px;
    background-color: #1b1b1b;
}
nav .logo {
    float: left;
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10;
    color: #fff;
}
nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
}
nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;

}
nav .links a:hover{
    background-color: #0494a8;
    border-radius: 10%;
    color: white;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}
nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {

    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav h4{
        display: none;
        opacity: 0;
    }
    nav .links {

        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0,0,0,.8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked ~ .links {
        bottom: 0;
    }

    nav .icon-burger {
        display: block;

    }

    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
    .card {
    height: 100%;
    width: 100%;
    opacity: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}
.card {
    height: 100%;
    width: 100%;
    opacity: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card img{
    height: 80%;
}
.card:hover{
    opacity: 100%;
}
.youtube-link {
    position: fixed;
    left: 20px;
    bottom: 30px;
    color: #000;
    text-decoration: none;
    font-size: 12px;
}
.parallax {
  /* The image used */
position: relative;
  background-image: linear-gradient(rgba(27 3 3 / 82%), rgba(17 9 9 / 82%)),url('../images/building.jpg');


  /* Full height */
  height: 50%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay{
    color: white;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.footer {
z-index: 2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1b1b1b;
  color: white;
  text-align: center;
}
.footer .far{
    margin-top: 10px;
    margin-right: 20px;
    float: right;
   
}
.footer .fab{
    margin-top: 10px;
margin-right: 20px;
    float: right;
}
a{

    text-decoration: none;
     color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}

